/* Style pour mettre en page le formulaire */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
}

main {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0px 50px 0px 50px;
    background-color: #fff;
}

.login-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

img {
    height: 500px;
    width: auto;
}

h1 {
    text-align: center;
    color: green;
    margin-bottom: 20px;
}

.left {
    background-size: cover;
    background-position: center;
}

.right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

/* Style pour les champs du formulaire */
form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 15px; /* Ajout d'une marge entre les champs */
}

/* Style pour le bouton de connexion */
.custom-button {
    background-color: green; 
    color: #fff; /* Texte en blanc */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #badac4;
}
